body {
  padding-top: 50px;
}

.root {
  height: 200px;
  width: 300px;
}

input {
  margin-bottom: 50px;
}

.featured {
  width: 100%;
  height: 300px;
}

.videoImage {
  width: 100%;
  margin-bottom: 10px;
}

li {
  list-style-type: none;
}
